* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 10pt;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}